# Likes Report
## Paul Keren
### 9/13/2024
The source of my data is my own Instagram account from the past year.
This data was created to review my own actions and to study to see what I have been looking at on Instagram, maybe to see if theres anything I have forgotten about or for some nostalgia. 
The data can be reliable because it is straight from my account and it is consistent at times.
The data can also be unreliable because there are some outliers that do not align with the rest of the data.

In [5]:
import pandas as pd
import json

In [8]:
path = "/Users/paulkeren/Downloads/instagram-pkk15-2024-09-13-xqnexw2t/your_instagram_activity/likes/liked_posts.json"
with open(path) as j:
    dict = json.load(j)

File is my liked posts on instagram.

In [9]:
df = pd.DataFrame(dict)

In [10]:
df.head()

                                   likes_media_likes
0  {'title': 'thescore', 'string_list_data': [{'h...
1  {'title': 'hurdles', 'string_list_data': [{'hr...
2  {'title': 'groovy', 'string_list_data': [{'hre...
3  {'title': 'cleguardians', 'string_list_data': ...
4  {'title': 'flash_garrett', 'string_list_data':...

In [11]:
dict.keys()

dict_keys(['likes_media_likes'])

In [13]:
df2 = pd.DataFrame(dict['likes_media_likes'])

In [14]:
df2.head()

           title                                   string_list_data
0       thescore  [{'href': 'https://www.instagram.com/p/C_weZdU...
1        hurdles  [{'href': 'https://www.instagram.com/p/C_wRCS-...
2         groovy  [{'href': 'https://www.instagram.com/p/C_urr1v...
3   cleguardians  [{'href': 'https://www.instagram.com/p/C_vVHTl...
4  flash_garrett  [{'href': 'https://www.instagram.com/p/C_tr3_i...

In [15]:
type(df2['string_list_data'].iloc[0])

list

In [16]:
list

list

In [24]:
type[df2['string_list_data'].iloc[0][0]['timestamp']]

type[1726018918]

In [18]:
df2['timestamp'] = [x[0]['timestamp'] for x in df2 ['string_list_data']]

In [19]:
df2.head()

,title,string_list_data,timestamp
0,thescore,[{'href': 'https://www.instagram.com/p/C_weZdU...,1726018918
1,hurdles,[{'href': 'https://www.instagram.com/p/C_wRCS-...,1726012782
2,groovy,[{'href': 'https://www.instagram.com/p/C_urr1v...,1725997645
3,cleguardians,[{'href': 'https://www.instagram.com/p/C_vVHTl...,1725978418
4,flash_garrett,[{'href': 'https://www.instagram.com/p/C_tr3_i...,1725924227

In [21]:
df3 = pd.DataFrame(x[0] for x in df2['string_list_data'])

In [22]:
df3['title'] = df2['title']
df3.head()

                                       href value   timestamp          title
0  https://www.instagram.com/p/C_weZdUIA2A/  ð  1726018918       thescore
1  https://www.instagram.com/p/C_wRCS-yNWw/  ð  1726012782        hurdles
2  https://www.instagram.com/p/C_urr1vRjd_/  ð  1725997645         groovy
3  https://www.instagram.com/p/C_vVHTlOHrd/  ð  1725978418   cleguardians
4  https://www.instagram.com/p/C_tr3_iRICT/  ð  1725924227  flash_garrett

In [26]:
df3.groupby('title').count().\
sort_values('timestamp', ascending = False).head(10)

                 href  value  timestamp
title
umichfootball      65     65         65
uofm.coverage      29     29         29
clevelandbrowns    27     27         27
cleguardians       26     26         26
tndtakeover        21     21         21
jjmccarthy         19     19         19
nfl                18     18         18
bleacherreport     18     18         18
sportscenter       17     17         17
mlb                17     17         17

A hypothesis that I would like to test is that my friend matt is the user that sends me the most messages on an instagram groupchat. The theory is that he sends me the most direct messages in terms of videos, in terms of statistics I would guess around 4-5 messages a day.

"/Users/paulkeren/Downloads/instagram-pkk15-2024-09-13-xqnexw2t/your_instagram_activity/messages/inbox/nationalchamps2023_516574912228022"
This json file is messages from our group chat so it will show me the values I am testing.

In [63]:
path = "/Users/paulkeren/Downloads/instagram-pkk15-2024-09-13-xqnexw2t/your_instagram_activity/messages/inbox/nationalchamps2023_516574912228022/message_1.json"
with open(path) as j:
    mess = json.load(j)

In [64]:
mess.keys()

dict_keys(['participants', 'messages', 'title', 'is_still_participant', 'thread_path', 'magic_words', 'joinable_mode'])

In [65]:
wide_df = pd.DataFrame(mess)

ValueError: All arrays must be of the same length

I do not think my data meets tidy principles, I could not figure out how to also use data in addition to the likes data also in the code.

Some conclusions I can gather from my data is that I liked a lot of Instagram posts that relate to sports in some aspect, the most involving Michigan football or highlight videos.
Some limitations of data could be the time frame as it is from just this past year and the algorithim being catered towards me. A proposal I have for an alternative approach is to change the time frame of the data or change the time of day of the data. Next steps in the future would be figuring how to organize different data frames.